<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.develop.vadim.english">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--android:testOnly="false"
        android:debuggable="true"-->
        <activity
            android:name=".EnterActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthenticationActivity"
            android:label="@string/auth" />
        <activity
            android:name=".TutorialActivity"
            android:label="@string/tutorial" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewWordActivity"
            android:label="@string/new_word"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ArchiveActivity"
            android:label="@string/archive" />
        <activity
            android:name=".DoYouWantToSignOutActivity"
            android:label="@string/do_you_want_to_sign_out"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity android:name=".ChangeWordActivity"
            android:label="@string/changeWord"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog"
            />
    </application>

</manifest>